@import "config";
@import "fonts";
@import "header";
@import "promo";
@import "icons";
@import "gallery";
@import "bio";
@import "slider";
@import "ready";
@import "info";
@import "footer";
@import "responsive";

h2 {
    font-size: 2.3rem;
}
h3{
    font-size: 2.2rem;
}
h4{
    font-size: 1.75rem;
}
h5{
    font-size: 1.27rem;
}

h1,
h2,
h5 {
    font-weight: 400;
    font-family: 'Raleway';
}
h3,
h4 {
    font-weight: 700;
    font-family: 'Open Sans';
}
