@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:ital,wght@0,400;0,500;0,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 280px;
  margin: 0 auto;
}

.container__full {
  max-width: 320px;
  margin: 0 auto;
}

.title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
}

h1 {
  font-size: 2.25rem;
}

.descr {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
}

.header {
  position: relative;
  margin: 0 auto;
  background-color: transparent;
}
.header__wrapper {
  height: 6rem;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  padding: 0rem 1.2rem;
  color: aliceblue;
  text-decoration: none;
  z-index: 10;
}
.header__nav {
  position: absolute;
  opacity: 0.99;
  visibility: hidden;
}
.header__nav.open {
  visibility: visible;
}
.header__nav__menu {
  visibility: hidden;
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  align-items: left;
  height: 100vh;
  overflow: hidden;
  background: url("../img/bg.png") center top;
  background-size: cover;
  list-style-type: none;
  padding-right: 2rem;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.header__nav__menu.open {
  visibility: visible;
  transform: translateY(0);
}
.header__nav__menu__items {
  transition: all 0.3s ease-in-out;
}
.header__nav__menu__items.open {
  transform: translateX(0);
}
.header__nav__menu__items__link {
  color: aliceblue;
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5rem 2rem 0rem 2rem;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}
.header__nav__menu__items__link:hover {
  border-bottom: 3px solid #BABBC5;
  transition: all 0.3s ease-in-out;
}
.header__nav__menu__items__link:active {
  color: #E71414;
  border-bottom: 3px solid #E71414;
  transition: all 0.3s ease-in-out;
}
.header__btn {
  position: absolute;
  z-index: 1;
  top: 1.2rem;
  right: 2.5rem;
  height: 1rem;
  width: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header__btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 1.5rem;
  height: 0.2rem;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
.header__btn__burger::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  width: 1.5rem;
  height: 0.2rem;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
.header__btn__burger::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  width: 1.5rem;
  height: 0.2rem;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
.header__btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.header__btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.header__btn__burger.open::after {
  width: 1.5rem;
  transform: rotate(-45deg) translate(3px, -7px);
}

.header__nav__menu__items:nth-child(1) {
  transition-delay: 0.25s;
}

.header__nav__menu__items:nth-child(2) {
  transition-delay: 0.35s;
}

.header__nav__menu__items:nth-child(3) {
  transition-delay: 0.45s;
}

.header__nav__menu__items:nth-child(4) {
  transition-delay: 0.55s;
}

.header__nav__menu__items:nth-child(5) {
  transition-delay: 0.65s;
}

.promo {
  min-height: 574px;
  background: url("../img/bg.png") center top;
  background-size: cover;
}
.promo__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.7rem;
}
.promo__content__title {
  padding-bottom: 1.8rem;
}
.promo__content__title .title {
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}
.promo__content__descr {
  padding-bottom: 3rem;
}
.promo__content__descr .descr {
  text-align: center;
  font-size: 1rem;
  color: #FFFFFF;
}
.promo__content__button {
  padding: 1rem 2.7rem;
  background-color: #FF4343;
}
.promo__content__button .title {
  text-decoration: none;
  font-size: 1.5rem;
  color: #FFFFFF;
}
.promo__content__button:hover {
  cursor: pointer;
  background: #E71414;
  transition: all 0.3s ease-in-out;
}
.promo__content__button:active {
  background: #FF4343;
  box-shadow: 4px 4px 30px #FF4343;
  transition: all 0.3s ease-in-out;
}

.icons {
  min-height: 1020px;
}
.icons__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icons__card__img img {
  padding-top: 2.7rem;
  width: 70%;
  display: block;
  margin: 0 auto;
}
.icons__card__title {
  padding: 2.35rem 0rem 0rem 0rem;
}
.icons__card__title .title {
  color: #2D3033;
  font-size: 1.15rem;
  text-transform: uppercase;
}
.icons__card__descr {
  padding: 0.7rem 0rem 0rem 0rem;
}
.icons__card__descr .descr {
  text-align: center;
  font-size: 0.87rem;
  color: #6C7279;
}

.gallery {
  min-height: 576px;
}
.gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2rem;
  overflow: hidden;
}
.gallery__img {
  width: 50%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.gallery__img img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.gallery__img .info {
  position: relative;
  z-index: 3;
  opacity: 0;
  height: 0;
  transform: translateY(30px);
  transition: 0.5s;
  color: #ffffff;
  text-align: center;
  background: transparent;
}
.gallery__img__title {
  font-size: 1rem;
  padding-bottom: 0.8rem;
  text-transform: uppercase;
}
.gallery__img__descr {
  font-size: 0.8rem;
}
.gallery__img:hover {
  transform: translateY(0px);
  cursor: pointer;
}
.gallery__img:hover:before {
  opacity: 1;
}
.gallery__img:hover .info {
  opacity: 1;
  transform: translateY(-6rem);
}
.gallery__img:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 67, 67, 0.8);
  z-index: 2;
}

.bio {
  min-height: 1200px;
}
.bio__cards {
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
  padding-top: 0rem;
}
.bio__card {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}
.bio__card__img {
  height: 14.1rem;
  width: 17rem;
}
.bio__card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
}
.bio__card__title {
  padding-top: 1.7rem;
}
.bio__card__title .title {
  font-size: 1.15rem;
}
.bio__card__descr {
  padding-top: 0.45rem;
  padding-bottom: 2rem;
  text-align: left;
}
.bio__card__descr .red {
  color: red;
  text-transform: uppercase;
  font-size: 0.87rem;
}
.bio__card__descr .descr {
  font-size: 0.87rem;
}
.bio__card__social__icon {
  display: inline-block;
  font-size: 0.35rem;
  padding: 0.5rem;
  border: 1px solid #C6CBCD;
  margin-top: 1.5rem;
}
.bio__card__social__icon a {
  color: #C6CBCD;
}
.bio__card__social__icon a:hover {
  cursor: pointer;
  color: #2327e6;
}

.slider__wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 2rem;
}
.slider__cards {
  width: 600%;
  display: flex;
  justify-content: start;
}
.slider__card {
  width: 16.7%;
  transition: 1s;
  background-color: #5C3249;
}
.slider__card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__card__text {
  padding: 1rem 1.2rem;
}
.slider__card__text__descr {
  padding-top: 1.8rem;
  padding-bottom: 5.2rem;
}
.slider__card__text__descr .descr {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #FFFFFF;
}
.slider__card__text__quotes {
  padding-top: 0.2rem;
}
.slider__card__text__quotes .quote {
  font-family: "Cardo";
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
.slider .navigation-manual {
  padding: 1.3rem;
  display: flex;
  justify-content: center;
}
.slider .manual-btn {
  border: 2px solid #59595a;
  padding: 1%;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
}
.slider .manual-btn:not(:last-child) {
  margin-right: 1.3rem;
}
.slider .manual-btn:hover {
  background: #292a2a;
}
.slider .manual-btn:focus:active {
  background: #424343;
}
.slider #radio1:checked ~ .first {
  margin-left: 0;
}
.slider #radio2:checked ~ .first {
  margin-left: -16.7%;
}
.slider #radio3:checked ~ .first {
  margin-left: -33.4%;
}
.slider #radio4:checked ~ .first {
  margin-left: -50.1%;
}
.slider #radio5:checked ~ .first {
  margin-left: -66.8%;
}
.slider #radio5,
.slider #radio4,
.slider #radio3,
.slider #radio2,
.slider #radio1 {
  display: none;
}

.ready {
  min-height: 263px;
}
.ready__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.1rem;
}
.ready__content__title {
  padding-bottom: 1.4rem;
}
.ready__content__title .title {
  text-align: center;
  font-size: 1.1rem;
}
.ready__content__descr {
  padding-bottom: 0.7rem;
}
.ready__content__descr .descr {
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
.ready__content__button {
  padding: 1.75rem 3.6rem;
  background-color: #FF4343;
}
.ready__content__button .title {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.15rem;
  color: #FFFFFF;
}
.ready__content__button:hover {
  cursor: pointer;
  background: #E71414;
  transition: all 0.3s ease-in-out;
}
.ready__content__button:active {
  background: #FF4343;
  box-shadow: 4px 4px 30px #FF4343;
  transition: all 0.3s ease-in-out;
}

.info {
  background-color: #353C65;
}
.info__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}
.info__about__title {
  padding-top: 2rem;
  padding-bottom: 2.2rem;
}
.info__about__title .title {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.info__about__descr {
  padding-bottom: 2.2rem;
}
.info__about__descr .descr {
  text-align: center;
  font-size: 0.87rem;
}
.info__about__social {
  text-align: center;
  letter-spacing: 0.25rem;
  padding-bottom: 1.5rem;
}
.info__about__social__icon {
  display: inline-block;
  font-size: 0.3rem;
  padding: 0.5rem;
  border: 1px solid #C6CBCD;
}
.info__about__social__icon a {
  color: #C6CBCD;
}
.info__about__social__icon a:hover {
  cursor: pointer;
  color: #FFFFFF;
}

.footer {
  background-color: #2C3154;
}
.footer__descr {
  padding: 2rem 0;
}
.footer__descr .descr {
  text-align: center;
  font-size: 0.87rem;
  color: #FFFFFF;
}
.footer__descr .descr .gray {
  color: #808080;
}

@media (min-width: 1023px) {
  .container {
    max-width: 984px;
  }
  .container__full {
    max-width: 1024px;
  }
  .header {
    position: relative;
    background-color: transparent;
  }
  .header__container {
    max-width: 1024px;
    margin: 0 auto;
  }
  .header__wrapper {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #BABBC5;
  }
  .header__logo {
    padding: 0rem 1.2rem;
  }
  .header__logo img {
    width: 14.5rem;
    height: 6.5rem;
  }
  .header__nav {
    position: relative;
    width: 100%;
    opacity: 0.99;
    padding-right: 0rem;
  }
  .header__nav__menu {
    visibility: visible;
    justify-content: end;
    display: flex;
    flex-flow: row;
    align-items: left;
    height: auto;
    overflow: hidden;
    background: transparent;
    padding-right: 0rem;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
  }
  .header__nav__menu__items {
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
  }
  .header__nav__menu__items__link {
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 2.5rem 1.4rem 2.5rem 1.5rem;
    display: inline-block;
    text-decoration: none;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
  }
  .header__btn {
    display: none;
  }
  .promo {
    min-height: 768px;
  }
  .promo__content {
    padding-top: 0.7rem;
  }
  .promo__content__title {
    padding-top: 9.3rem;
    padding-bottom: 1.8rem;
  }
  .promo__content__title .title {
    font-size: 3rem;
  }
  .promo__content__descr {
    padding: 2.3rem 6rem 6rem 6rem;
  }
  .promo__content__descr .descr {
    font-size: 1.18rem;
  }
  .promo__content__button {
    padding: 1.5rem 4rem;
  }
  .icons {
    min-height: 650px;
  }
  .icons__cards {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .icons__cards {
    padding-top: 2rem;
  }
  .icons__card {
    width: 33%;
  }
  .icons__card__title {
    padding: 3rem 0rem 0rem 0rem;
  }
  .icons__card__img img {
    padding-top: 2.7rem;
    width: 86%;
  }
  .icons__card__descr {
    padding: 1.1rem 0rem 0rem 0rem;
  }
  .gallery {
    min-height: 460px;
  }
  .gallery__img {
    width: 25%;
  }
  .gallery__img__title {
    font-size: 1.8rem;
    padding-bottom: 0.8rem;
    text-transform: uppercase;
  }
  .gallery__img__descr {
    font-size: 1.5rem;
  }
  .gallery__img:hover .info {
    transform: translateY(-9rem);
  }
  .bio {
    min-height: 659px;
  }
  .bio__cards {
    flex-direction: row;
    margin-top: -1rem;
    padding-top: 0rem;
    justify-content: space-between;
  }
  .bio__card {
    padding-top: 5.1rem;
    width: 24%;
  }
  .bio__card__img {
    height: 100%;
    width: 100%;
  }
  .bio__card__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .bio__card__title {
    padding-top: 1.7rem;
  }
  .bio__card__title .title {
    font-size: 1.15rem;
  }
  .bio__card__descr {
    padding-top: 0.45rem;
    padding-bottom: 0.9rem;
  }
  .bio__card__descr .descr {
    padding-right: 0.2rem;
  }
  .bio__card__social__icon {
    font-size: 0.25rem;
  }
  .slider__card {
    display: flex;
  }
  .slider__card__img {
    width: 100%;
  }
  .slider__card__img img {
    width: 116%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slider__card__text__quotes {
    padding: 2.9rem 6rem 1rem 6rem;
  }
  .slider__card__text__descr {
    padding: 0rem 8.5rem;
  }
  .slider .manual-btn {
    padding: 0.5%;
  }
  .ready {
    min-height: 332px;
  }
  .ready__content {
    padding-top: 4.1rem;
  }
  .ready__content__descr {
    padding-bottom: 2.75rem;
  }
  .ready__content__descr .descr {
    font-size: 0.8rem;
  }
  .ready__content__title {
    padding-bottom: 1.4rem;
  }
  .ready__content__title .title {
    font-size: 1.47rem;
  }
  .ready__content__button {
    padding: 1.75rem 4.7rem;
  }
  .info__wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }
  .info__about {
    width: 33%;
  }
  .info__about__title {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  .info__about__descr .descr {
    font-size: 0.9rem;
    text-transform: capitalize;
  }
  .info__about__social {
    padding-top: 0.8rem;
  }
  .footer__descr {
    padding: 1rem 20rem;
  }
}
@media (min-width: 1509px) {
  .container {
    max-width: 1170px;
  }
  .container__full {
    max-width: 1510px;
  }
  .header__container {
    max-width: 1210px;
    margin: 0 auto;
  }
  .header__nav__menu__items__link {
    padding: 2.5rem 2.1rem 2.5rem 2.2rem;
  }
  .promo {
    min-height: 747px;
  }
  .promo__content__title {
    padding-top: 7.6rem;
    padding-bottom: 1.8rem;
  }
  .promo__content__title .title {
    font-size: 3.95rem;
  }
  .promo__content__descr {
    padding: 0.5rem 5rem 5.5rem 5rem;
  }
  .promo__content__descr .descr {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .promo__content__button {
    padding: 1.5rem 5.75rem;
  }
  .icons {
    min-height: 916px;
  }
  .icons__cards {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .icons__cards {
    padding: 2rem 0;
  }
  .icons__card {
    width: 33%;
  }
  .icons__card__title {
    padding: 3.5rem 0rem 0rem 0rem;
  }
  .icons__card__title .title {
    font-size: 1.5rem;
  }
  .icons__card__img img {
    padding-top: 5rem;
    width: 100%;
  }
  .icons__card__descr {
    padding: 2.5rem 1rem 0rem 0rem;
  }
  .icons__card__descr .descr {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
  .gallery {
    min-height: 460px;
  }
  .gallery__img {
    height: 21rem;
  }
  .gallery__img__title {
    font-size: 2rem;
    padding-bottom: 0.8rem;
    text-transform: uppercase;
  }
  .gallery__img__descr {
    font-size: 1.8rem;
  }
  .gallery__img:hover .info {
    opacity: 1;
    transform: translateY(-12rem);
  }
  .gallery__img:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
  .bio {
    min-height: 827px;
  }
  .bio__card {
    padding-top: 8rem;
  }
  .bio__card__img img {
    width: 95%;
  }
  .bio__card__title {
    padding-top: 1.7rem;
  }
  .bio__card__title .title {
    font-size: 1.5rem;
  }
  .bio__card__descr {
    padding-top: 0.45rem;
    padding-bottom: 0.9rem;
  }
  .bio__card__descr .descr {
    padding-right: 0.2rem;
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
  .bio__card__social {
    padding-top: 1rem;
  }
  .bio__card__social__icon {
    font-size: 0.35rem;
  }
  .slider__wrapper {
    padding-top: 2.5rem;
  }
  .slider__card {
    display: flex;
  }
  .slider__card__img {
    width: 87%;
  }
  .slider__card__img img {
    width: 130%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slider__card__text__quotes {
    padding: 7.5rem 10rem 1rem 18rem;
    letter-spacing: 0.1rem;
  }
  .slider__card__text__quotes .quote {
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
  }
  .slider__card__text__descr {
    padding: 0.8rem 17.5rem;
  }
  .ready {
    min-height: 436px;
  }
  .ready__content {
    padding-top: 7.1rem;
  }
  .ready__content__descr {
    padding-bottom: 3.5rem;
  }
  .ready__content__descr .descr {
    font-size: 1.1rem;
  }
  .ready__content__title {
    padding-bottom: 1.4rem;
  }
  .ready__content__title .title {
    font-size: 1.85rem;
  }
  .ready__content__button {
    padding: 1.75rem 4.7rem;
  }
  .ready__content__button .title {
    font-size: 1.5rem;
  }
  .info {
    min-height: 250px;
  }
  .info__wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }
  .info__about {
    width: 33%;
  }
  .info__about__title {
    padding-top: 4.5rem;
    padding-bottom: 2rem;
  }
  .info__about__title .title {
    font-size: 1.1rem;
  }
  .info__about__descr .descr {
    font-size: 1.1rem;
    text-transform: capitalize;
  }
  .info__about__social {
    padding-top: 0.8rem;
  }
  .info__about__social__icon {
    font-size: 0.35rem;
  }
  .footer__descr {
    padding: 2rem 25rem;
  }
  .footer__descr .descr {
    font-size: 1.1rem;
  }
}
h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.27rem;
}

h1,
h2,
h5 {
  font-weight: 400;
  font-family: "Raleway";
}

h3,
h4 {
  font-weight: 700;
  font-family: "Open Sans";
}/*# sourceMappingURL=main.css.map */